* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    line-height: 1.4;
    font-family: Roboto-regular, sans-serif;
}

footer p {
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:  #1e293b; /* Dark background for the footer */
    color: #ffffff; /* Light text color */
    font-size: 1rem; /* Increased font size for visibility */
    text-align: center;
    padding: 0.5rem 0; /* Adds padding to the footer */
    z-index: 1;
}